* {
  background-color: #4b0082;
}

.container-fluid {
  text-align: center;
  padding-top: 100px;
}

h1,
h4,
p,
footer {
  color: white;
}
.converter {
  display: none;
}
.toggle.ios,
.toggle-on.ios,
.toggle-off.ios {
  border-radius: 20px;
}
.toggle.ios .toggle-handle {
  border-radius: 20px;
}

.toggle-handle {
  background-color: white;
}
